#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#typewriter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.word {
    padding-right: 4px;
}
