#container {
    display: flex;
    flex-direction: column;
}
#typewriter {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 2px;
}
.word {
    margin-right: 4px;
}
