/*
     This stylesheet originates from the H8K theme for Home Assistant.  It was pulled out of the
     node_modules/h8k-design/dist/index.css file that comes with the installation of the h8k-design package
     (no longer the case in this project).  Many lines have been removed, primarily those that assign
     styles to base HTML elements (like body, h1, p, etc) in order to avoid h8k styles from polluting
     the rest of the application.

     Styles not used by BankTransactions of HotelMealScheduler components have also been removed.
     Original file was almost 2000 lines long.
 */

.root-element {
  --brand-color: #1ba94c;
  --brand-rgb: 27, 169, 76;
  --brand-hover: #22d560;
  --brand-dark: #147d38;
  --brand-disabled: #ccf7db;
  --brand-box-shadow: rgba(27, 169, 76, 0.5);
  --brand-box-shadow-hover: rgba(27, 169, 76, 0.4);
  --primary-color: #1ba94c;
  --primary-rgb: 27, 169, 76;
  --primary-hover: #22d560;
  --primary-dark: #147d38;
  --primary-disabled: #ccf7db;
  --primary-box-shadow: rgba(27, 169, 76, 0.5);
  --primary-box-shadow-hover: rgba(27, 169, 76, 0.4);
  --secondary-color: #097bbf;
  --secondary-rgb: 9, 123, 191;
  --secondary-hover: #0b9af0;
  --secondary-dark: #075c8e;
  --secondary-disabled: #caeafd;
  --secondary-box-shadow: rgba(9, 123, 191, 0.5);
  --secondary-box-shadow-hover: rgba(9, 123, 191, 0.4);
  --error-color: #a93c32;
  --error-rgb: 169, 60, 50;
  --error-hover: #c85146;
  --error-dark: #822e26;
  --error-disabled: #f7e5e3;
  --error-box-shadow: rgba(169, 60, 50, 0.5);
  --error-box-shadow-hover: rgba(169, 60, 50, 0.4);
  --success-color: #22a97a;
  --success-rgb: 34, 169, 122;
  --success-hover: #2bd399;
  --success-dark: #197f5b;
  --success-disabled: #d4f6ea;
  --success-box-shadow: rgba(34, 169, 122, 0.5);
  --success-box-shadow-hover: rgba(34, 169, 122, 0.4);
  --disabled-color: #6EA989;
  --app-background: linear-gradient(to bottom, #fff 0%, #f3f7f7 100%);
  --font-family-sans-serif: 'Open Sans', sans-serif;
  --heading-color: #3a424e;
  --link-color: #5fa6ff;
  --link-color-hover: #447dbd;
  --disabled-text-color: #b7c9cc;
  --toolbar-background-color: #39424e;
  --toolbar-box-shadow-color: rgba(115, 143, 147, 0.3);
  --toolbar-border-color: #28313d;
  --card-shadow-color: rgba(99, 118, 129, 0.3);
  --card-hover-shadow-color: rgba(99, 118, 129, 0.5);
  --card-margin-gutter: 0px; }

.table {
  width: 50%;
  border-collapse: collapse;
  align-items: center;
  margin: 0 auto;
}

.justify-content-start {
  justify-content: flex-start; }

/* Default */
.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.pb-8 {
  padding-bottom: 8px !important; }

.mx-8 {
  margin-left: 8px !important;
  margin-right: 8px !important; }

.mr-10 {
  margin-right: 10px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-30 {
  margin-top: 30px !important; }

.pt-30 {
  padding-top: 30px !important; }

.w-40 {
  width: 40% !important; }

.mt-50 {
  margin-top: 50px !important; }

.card {
  background-color: #fff;
  box-shadow: 0 3px 10px 0 var(--card-shadow-color);
  transition: box-shadow 0.25s cubic-bezier(0.32, 0.01, 0, 1);
  margin: var(--card-margin-gutter);
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  flex-direction: column;
}
.card.outlined {
  background: white;
  border: thin solid rgba(var(--primary-rgb), 0.1);
  box-shadow: none; }
.card .card-text {
  padding: 1em; }
.pb-20 {
  padding-bottom: 20px !important; }
button.text {
  background: transparent;
  border: none;
  box-shadow: none;
  margin: 8px 0; }
button.danger {
  color: #ffffff;
  background: var(--error-color);
  box-shadow: 0 4px 12px var(--error-box-shadow); }

