#container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  max-width: 500px;
}
#player-pool {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.label {
  padding: 5px 10px;
  font-weight: bold;
}
.player {
  /*display: inline-block;*/
  padding: 5px 10px;
}
#buttons {
  margin: 0 auto;
}
#buttons button {
  margin: 0 10px;
}
#rosters {
  display: flex;
  flex-direction: row;
}
.team {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 240px;
  background-color: lightgray;
  padding: 5px;
  margin: 10px 20px;
  justify-content: center;
  min-height: 100px;
}
h2.team-active {
  margin: 5px;
  text-align: center;
}
h2.team-inactive {
  margin: 5px;
  text-align: center;
  color: #999999;
}
.team-players {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap:wrap;
}
.instructions {
  text-align: center;
  margin: 0;
}
