#container {
    display: flex;
    flex-direction: row;
}
.star {
    width: 25px;
    height: 25px;
    background-size: 25px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Five-pointed_star.svg/1088px-Five-pointed_star.svg.png);
    background-repeat: no-repeat;
}
.on {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Gold_Star.svg/1200px-Gold_Star.svg.png);
}
.off {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Five-pointed_star.svg/1088px-Five-pointed_star.svg.png);
}
